<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Passport</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background: #7CB342;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/auth/logout">Çıkış</a></li>
                <li><a href="/auth/login">Giriş</a></li>
                <li><a href="/">Anasayfa</a></li>
            </ul>
        </nav>
        <header>

        </header>

    </body>
</html>
